
<!DOCTYPE html>
<html>
    <head>
        <title> Community Connect </title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="list.css">  
    </head>
<body>
  
    <div class="box">
        <h2> Available Opportunties </h2>
        <ul>
        <li><span>1</span><a href="https://www.bostoncares.org/opportunity/a0C1J00000Iz8zdUAB">SERVE BREAKFAST AT THE ST. FRANCIS HOUSE</a></li>
        <li><span>2</span><a href="https://www.bostoncares.org/opportunity/a0C1J00000Iz7udUAB">HELP OUT AT THE FRIDAY NIGHT SUPPER PROGRAM</a></li>
        <li><span>3</span><a href="https://www.eventbrite.com/e/moakley-park-spring-cleanup-tickets-142777131243?aff=ebdssbdestsearch">Moakley Park Spring Cleanup, by Boston Harbor Spring Cleanup </a></li>
        <li><span>4</span><a href="https://www.eventbrite.com/e/museum-clean-up-day-tickets-142566549387?aff=ebdssbdestsearch">Museum Cleanup Day, by Plimoth Patuxet Museums</a></li>
        <li><span>5</span><a href="https://www.eventbrite.com/e/charles-river-conservancy-open-volunteer-event-magazine-beach-cambridge-tickets-140114535347">Charles River Conservancy- Open Volunteer Event-Magazine Beach, Cambridge, by Charles River Conservancy</a></li>
        <li><span>6</span><a href="https://www.bostoncares.org/opportunity/a0C1J00000Iz8zdUAB">Cradles to Crayons Boston</a></li>
        <li><span>7</span><a href="https://www.gbfb.org/get-involved/volunteer/">Greater Boston Food Bank</a></li>
        <li><span>8</span><a href="http://www.rosiesplace.org/volunteer">Rosie’s Place</a></li>
        <li><span>9</span><a href="https://www.bgcb.org/get-involved/volunteer">Boys & Girls Clubs of Boston</a></li>
        <li><span>10</span><a href="https://www.brm.org/volunteer">Boston Rescue Mission</a></li>
         </ul>
</div>

</body>
</html>