<h1>Community Service Opportunities</h1>

<h3>SERVE BREAKFAST AT THE ST. FRANCIS HOUSE</h3>
<a href="https://www.bostoncares.org/opportunity/a0C1J00000Iz8zdUAB">https://www.bostoncares.org/opportunity/a0C1J00000Iz8zdUAB</a>
<!-- <p>3/12/21 @7AM</p> -->

<h3>HELP OUT AT THE FRIDAY NIGHT SUPPER PROGRAM</h3>
<a href="https://www.bostoncares.org/opportunity/a0C1J00000Iz7udUAB">https://www.bostoncares.org/opportunity/a0C1J00000Iz7udUAB</a>
<!-- <p>3/12/21 @5PM</p> -->

<h3>Moakley Park Spring Cleanup, by Boston Harbor Spring Cleanup</h3>
<a href="https://www.eventbrite.com/e/moakley-park-spring-cleanup-tickets-142777131243?aff=ebdssbdestsearch">https://www.eventbrite.com/e/moakley-park-spring-cleanup-tickets-142777131243?aff=ebdssbdestsearch</a>
<!-- <p>3/27/21 @9:30 AM</p> -->

<h3>Museum Cleanup Day, by Plimoth Patuxet Museums</h3>
<a href="https://www.eventbrite.com/e/museum-clean-up-day-tickets-142566549387?aff=ebdssbdestsearch">https://www.eventbrite.com/e/museum-clean-up-day-tickets-142566549387?aff=ebdssbdestsearch</a>
<!-- <p>3/27/21 @9AM</p> -->

<h3>Charles River Conservancy- Open Volunteer Event-Magazine Beach, Cambridge, by Charles River Conservancy</h3>
<a href="https://www.eventbrite.com/e/charles-river-conservancy-open-volunteer-event-magazine-beach-cambridge-tickets-140114535347">https://www.eventbrite.com/e/charles-river-conservancy-open-volunteer-event-magazine-beach-cambridge-tickets-140114535347</a>
<!-- <p>3/20/21 @9AM</p> -->

<h3>Cradles to Crayons Boston</h3>
<a href="https://www.cradlestocrayons.org/boston/take-action/volunteer/">https://www.cradlestocrayons.org/boston/take-action/volunteer/</a>
<!-- <p>3/20/21 @9AM</p> -->

<h3>Greater Boston Food Bank</h3>
<a href="https://www.gbfb.org/get-involved/volunteer/">https://www.gbfb.org/get-involved/volunteer/</a>
<!-- <p>3/20/21 @9AM</p> -->

<h3>Rosie’s Place</h3>
<a href="http://www.rosiesplace.org/volunteer">http://www.rosiesplace.org/volunteer</a>
<!-- <p>3/20/21 @9AM</p> -->

<h3>Boys & Girls Clubs of Boston</h3>
<a href="https://www.bgcb.org/get-involved/volunteer">https://www.bgcb.org/get-involved/volunteer</a>
<!-- <p>3/20/21 @9AM</p> -->

<h3>Boston Rescue Mission</h3>
<a href="https://www.brm.org/volunteer">https://www.brm.org/volunteer</a>
<!-- <p>3/20/21 @9AM</p> -->