table{
    width: 400px
   /* border-spacing: 40px */
}

th, caption, h1{
    text-align: left;
}

table, th, td{
    border: 1px solid #000
    /*border-collapse: collapse;*/
}

td, th{

}

tr:nth-child(even){
    background-color: #fff;
}

tr:nth-child(odd){
    background-color: #ddd;
}