<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <h1>Community Connect</h1>

      <table style="width:100%">
        <tr>
          <th>Organization:</th>
          <th>Date:</th>
          <th>Hours:</th>
          <th>Signature:</th>
        </tr>
        <tr>
          <td>Mcdonalds</td>
          <td>3/22/01</td>
          <td>5</td>
          <td>Raquel Joseph</td>
        </tr>
      </table><br>

    <table>
        <caption> Enter Hours </caption>
        <tr>
            <th>Organization:</th>
            <th>Date:</th>
            <th>Hours:</th>
            <th>Signature:</th>
        </tr>
        <form method="post" action="/index">
        <tr>
            <td> <input type="text" /> </td>
            <td> <input type="text" /> </td>
            <td> <input type="text" /> </td>
            <td> <input type="text" /> </td>
        </tr>
    
      </table>
      <input type="button" value="Add" />
    </form>
    </div>

  </body>
</html>
