<section>
    <div>
        <h1><%= @opportunity.organization %></h1>
        <p><%= @opportunity.date %></p>
        <p><%= @opportunity.hours %></p>
        <p><%= @opportunity.signature %></p>
    </div>
</section>