<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sliding Menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-menu">
      <br>
      <br>
        <ul>
                <li class="menu-item"><%= image_tag 'logo2.png', size: "50x50" %></li>
                <li><a href="../services/" class="menu-item"><i class="fa fa-paper-plane"></i> &nbsp Find Opportunities</a></li>
                <li class="menu-item"><i class="fa fa-globe"></i> &nbsp Saved Opportunties</li>
                <li><a href="../opportunities/" class="menu-item"><i class="fa fa-bell"></i> &nbsp Timesheet</a></li>
<<<<<<< HEAD
                <li class="menu-item"><i class="fa fa-sign-out-alt"></i> &nbsp Log Out</li>
=======
                <li class="menu-item"><i class="fa fa-gears"></i> &nbsp Settings</li>
                <li class="menu-item"><%= button_to '/session', method: :delete do %>
                      <i class="fa fa-sign-out-alt"></i>&nbsp Log Out
                    <% end %> </li>
>>>>>>> 91b0173ee684f97bbe82e54ae8c4f765531a5bcc
        </ul>
    </div>
</body>
</html>
